<%= stylesheet_link_tag    "/css/signin.css", :media => "all" %>
<div class="form-signin">
	<h2 class="form-signin-heading">회원가입</h2>
	<%= render 'form' %>
	<%#= link_to '목록으로', users_path, class: "btn btn-lg btn-primary" %>
</div>
