/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
body { padding-top: 20px; }
i {
	font-size:14px;
}

.title_font {
	font-style:italic;
	font-family:'freight-display-pro','Times New Roman','Lucida Sans Unicode','Lucida Grande',sans-serif;
}

.like_icon {
	display:inline-block;
	width:16px;
	height:15px;
	background-image:url('/images/common/icon_like.png');
	background-repeat:no-repeat;
	cursor:pointer;
}

.like_icon_on {
	display:inline-block;
	width:16px;
	height:15px;
	background-image:url('/images/common/icon_like_on.png');
	background-repeat:no-repeat;
	cursor:pointer;
}

.like_count {
	display:inline-block;
	text-align:left;
	color:#aaaaaa;
	font-size:12px;
	line-height:14px;
}

.view_icon {
	display:inline-block;
	margin-left:10px;
	width:16px;
	height:15px;
	background-image:url('/images/common/icon_view.png');
	background-repeat:no-repeat;
}

.view_count {
	display:inline-block;
	text-align:left;
	color:#aaaaaa;
	font-size:12px;
	line-height:14px;
}

.view_remove {
	display:inline-block;
	text-align:left;
	cursor:pointer;
	padding-left:5px;
}
