<%= stylesheet_link_tag    "/css/collection/flat.css", :media => "screen" %>
<%= render :partial => '/common/landing' %>
	<div class="whiteHeader cf" style="text-align:left;margin-top:1px;">
        <div style="padding:10px 75px 0px 65px;">
	        <div class="navbar">
	          <div class="navbar-inner">
	            <div class="container">
	              <ul class="nav">
	                <li <% if @item_type!="P" && @item_type!="C" %>class="active"<% end %>><a href="/mypage/myfeed">All</a></li>
	                <li <% if @item_type=="P" %>class="active"<% end %>><a href="/mypage/myfeed?type=P">Product</a></li>
	                <li <% if @item_type=="C" %>class="active"<% end %>><a href="/mypage/myfeed?type=C">Set&collection</a></li>
	              </ul>
	            </div>
	          </div>
	        </div>
        </div>
			
		<div id="products" class="products">
			<a name="top"></a>
			<div class="freshdesignweb">
			    <div class="image_grid portfolio_4col" style="padding-left:40px;">
				    <ul id="itemList" class="portfolio_list">
				    </ul>
			    </div>
			</div>
		</div>
		
	</div>
	
	<a href="#top" id="top-link" class="floatingLink">top</a>

<script type="text/javascript">
$(document).ready(function(){
	$(function() {
		itemList();
	});
});

// scroll event
$(window).scroll(function(){
	if($(window).scrollTop() == $(document).height() - $(window).height()){
		itemList();
	}
});

var nextPage = 1;
var searchYn = true;

function itemList(){
    var postData = new Object();
    postData.page = nextPage;
    postData.id = '<%= @profile_id%>';
    postData.type = '<%= @item_type%>';
    postData.order = 'hit DESC';
    postData.myfeed = 'Y';
    
    if (searchYn){
    	layer_open_loading("loading_pop_layer",5,"N");
    	
	    setTimeout( function() {
		
			// ajax post 에서 세션 유지 시키기 위함
			$.ajaxSetup({
			  beforeSend: function(xhr) {
			    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
			  }
			});
			
			$.ajax({
			    url     : '/mypage/itemListCallback',
			    type    : 'post',
			    dataType: 'json',
			    data	: $.param(postData),
			    async   : false,  
			    success : function(json){
			    	collections = json.collections;
			    	
			    	layer_close_loading("loading_pop_layer");
		
			    	if(json.status){
		
						if(collections.length>0){
							
							nextPage++;
							$.each(collections, function (index, collection) {
								var cnt_like_user = collection.cnt_like_user
								var class_like = "like_icon"
								if(cnt_like_user>0){
									class_like = "like_icon_on"
								}
								
								var li = '<li>'
								+ '<div class="thumbnail" style="width:230px;height:300px;display:table-cell;text-align:center;vertical-align:middle">';
								if(collection.item_type=='C'){
									li += '<div style="width:230px;height:230px;display:table-cell;text-align:center;vertical-align:middle;">' 
									+ ' <img src="/data/collection/thumb/'+collection.img_file_name+'" onClick="document.location.href=\'/collections/'+collection.id+'\'" style="cursor:pointer">'
									+ '</div>'
									+ '<div style="text-align:left; padding:5px 0px 0px 5px; width:220px; height:45px; ">'
									+ '	<span style="color:#000000">'+collection.subject+'</span><br/>'
									+ '	<a href="/mypage/'+collection.profile_id+'" style="color:#0088cc">'+collection.user_name+'</a>'
									+ '</div>'
									+ '<div style="text-align:right;padding-right:10px;">'
									+ '	<span id="cid_'+collection.id+'" class="'+class_like+'" onClick="like(this);"></span>'
									+ '	<span id="ccnt_'+collection.id+'" class="like_count">'+collection.cnt_like+'</span>'
									+ '	<span class="view_icon"></span>'
									+ '	<span class="view_count">'+collection.hit+'</span>'
									+ '</div>';
								}else if(collection.item_type=='P'){
									var priceStr = getMoneyType(collection.price,collection.price_type);
									
									li += '<div style="width:230px;height:230px;display:table-cell;text-align:center;vertical-align:middle;">' 
									+ '	<img src="/data/product/medium/'+ collection.img_file_name+'" onClick="document.location.href=\'/products/'+ collection.id+'\'" style="cursor:pointer">'
									+ '</div>'
									+ '<div style="text-align:left; padding:5px 0px 0px 5px; width:220px; height:45px; ">'
									+ '	<a href="javascript:goProductUrl(\''+collection.url+'\',\''+collection.merchant+'\')"><span style="color:#000000">'+collection.subject+'</span></a><br/>'
									+ priceStr + "&nbsp;"
									+ '	<a href="/mypage/'+collection.profile_id+'" style="color:#0088cc">'+collection.profile_id+'</a>'
									+ '</div>'
									+ '<div style="text-align:right;padding-right:10px;">'
									+ '	<span id="pid_'+collection.id+'" class="'+class_like+'" onClick="like(this);"></span>'
									+ '	<span id="pcnt_'+collection.id+'" class="like_count">'+collection.cnt_like+'</span>'
									+ '	<span class="view_icon"></span>'
									+ '	<span class="view_count">'+collection.hit+'</span>'
									+ '</div>';
								}
								li += '</div>'
								+ '</li>';
								
								$('#itemList').append(li);
							});
						} else {
							searchYn = false;
							if(nextPage==1){
								$('#itemList').append('<li style="width:100%;height:300px;padding-top:100px;font-weight:bold;font-size:20px;text-align:center;">No results found</li>');
							} else {
								$('#itemList').append('<li style="width:100%;padding-top:10px;font-weight:bold;font-size:15px;text-align:center;">No results found</li>');
							}
						}
		
			    	} else {
			    		notify('error', json.msg);
			    	}
			    },
			    error   : function(e){
			        semafors['ajax'] = false;
			        //notify('error', TranslationLabels['could_not_complete_request']);
			    }
			});
		}, 10 );
	}
}

// 좋아요
function like(obj){
<%	if @session_user_id && @session_user_id!="" %>
		var item_type = "";
		var id = obj.id;
		var arrId = id.split("_");
		if(arrId[0]=="pid") item_type = "P";
		else if(arrId[0]=="cid") item_type = "C";
		likeItem(item_type,arrId[1]);
<%	else %>
		login_pop(document.location.href);
<%	end %>
}
</script>
