</div>
<div id="user_nav" style="display:none;">
  <% if current_user %>
    Signed in as <strong><%= current_user.user_name %></strong>!
    <%= link_to "Sign out", log_out_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
<script type="text/javascript" src="//s.skimresources.com/js/69974X1518369.skimlinks.js"></script>
</body>
</html>