</head>
<body class="<%= controller.controller_name%>" role="document">
<div class="container" role="main">

<!-- 팝업 레이어 -->
<div class="player">
	<div class="bg"></div>
	<div id="pop_layer" class="pop-layer">
		<div class="pop-container">
			<div class="cdv">
				<div class="cbtn"></div>
			</div>
			<div id="pop_content" class="pop-conts">
			</div>
		</div>
	</div>
</div>

<!-- 로딩중 레이어 -->
<div class="loading-layer">
	<div class="bg"></div>
	<div id="loading_pop_layer" class="loading-pop-layer">
	</div>
</div>